{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
  <title>Index</title>
</head>
<body>
  <main class="main">
    <div class="container container-index">
      <a href="{% url 'alunos_cadastrados' %}" class="btn">Ver alunos</a>
      <a href="{% url 'cadastrar_aluno' %}" class="btn">Cadastrar novo aluno</a>
    </div>

  </main>
</body>
</html>